@import 'variables';
@import 'custom';

body {
	font-family: $font-stack;
	font-size: medium;
	margin: 10px;
}

.navbar,
.navbar-default {
	background-color: $bg-color;
	margin: 10px 10px 0px 0px;
	text-transform: uppercase;
}

ul.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.nav,
li.navbar-nav {
	display: inline;
	padding: 5px 10px 5px 10px;
}

.navbar-nav a:link,
.navbar-nav a:visited {
	color: #7F7F7F;
	border-bottom: none;
	font-weight: bold;
}
